*{
  margin: 0;
  padding: 0;
  background-color: #F5F8FF;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.divone{
  display: flex;
  justify-content: space-between;
  display: flex;
  width: 1140px;
  padding: 50px 0;
  justify-content: space-between;
  align-items: center;
}
.divtwo{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width:900px ;
  align-items: center;
  gap: 40px;
  font-size: 65px;
  font-weight: 700;
}
.sectionone{
  width: 1440px;
  height: 698px;
  background-image: url(./images/hero-bg\ copy.png);
background-repeat:no-repeat;
display: flex;
padding-bottom: 200px;
flex-direction: column;
align-items: center;
gap: 170px;

}
.logo{
  font-size: 34px;
  font-weight: bolder;
  color: #4E47FF;
}
.btn_up{
  height: 50px;
  width: 130px;
  background-color: #4E47FF;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.divtwo{
  color: #252432;
  font-size: 65px;
  font-weight: 700px;
  text-align: center;
  line-height: normal;
}
.btnone{
  background-color: #4E47FF;
  color: white;
  height: 50px;
  width: 175px;
  border: none;
  border-radius: 10px;
  font-size: 16;
  font-weight: bold;
}
.stwo{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  }
 .pone{
  font-size: 24px;
  font-weight: 400;
  color: #252432;
 } 
 .btn_two{
  background-color: #4E47FF;
  color: white;
  width: 230px;
  height: 50px;
  border: none;
  border-radius: 10px;
 }
 .imgone{
  height: 328px;
  width: 403px;
  border-radius: 48px;
 }
 .sectwo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
  margin-top: -116px;
 }
 .secdivtwo{
  width: 517px;
  
  gap: 23px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.join{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  font-weight: 700px;
}
.hfirst{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;}
  .divthree{
    display: flex;
    gap: 158px;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    
  }
  .secthree{
    background-color: #E5E7FF;
    width: 1140px;
    padding: 50px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 116px;
  }
  .textfour{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
 }
.arg{
  color: #757575;
}
.argtwo{
  color: #B3B3B3;
}
.userscommentlast{
  display: flex;
}
.love{
  color: #1E1E1E;
}
.extraone{
  display: flex;
  flex-direction: column;
  gap: 5px;
 width: 300px;
}
.secfour{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.extra{
  
  gap: 1000px;
  box-shadow: 0.1px 0.1px 0.1px 0.1px rgb(21, 20, 20);
}
.all_contain{
  margin: 137px 150px; 
}
.userscommentone{
  margin: 10px 20px;
  
}
.aurthorimg{
  margin-left: 10px;
}

.circle{
  border-radius: 50px;
}
.textfour{
 margin-bottom: 60px;
}
.middle_text{
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}
.middle_p{
  color: #000000;
}
.middle_btn{
  background-color: #4E47FF;
  color: white;
  height: 48px;
  width: 195px;
  border: none;
  border-radius: 10px;
}
.middle_img{
  height: 365px;
  width: 840px;
  border-radius: 48px;
}
.middle{
  width: 1140px;
  padding: 70px 150px;
  justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
gap: 20px;
background-color: white;
}
.formh{
  font-size: 97px;
  font-weight: bold;
  width: 528px;
  height: 232px;
  color: #000000;
}
.common{
  font-size: 18px;
  font-weight: 500;
}
.formemail{
  font-size: 20px;
  font-weight: 400px;
 width: 497px;
 height: 70px;
 border-radius: 10px;
 border: 1px solid #D6DDED;
 padding-left: 20px;
}
.forname{
  font-size: 20px;
  font-weight: 400px;
  height: 70px;
  width: 497px;
  border-radius: 10px;
   border: 1px solid #D6DDED;
   padding-left: 20px;
}
.fortext{
  font-size: 20px;
  font-weight: 400px;
  height: 135px;
  width: 497px;
  border-radius: 10px;
  border: 1px solid #D6DDED;
  padding-left: 20px;
  padding-top: 20px;
}
.form{
  display: flex;
  width: 1140px;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  margin-left: 150px;
  gap: 100px;
}
.form_btn{
  background-color: #4E47FF;
  color: white;
  font-size: 16px;
  font-weight: 400px;
  height: 62px;
  width: 497px;
  border-radius: 10px;
  border: none;
  
}
.onetwo{
  align-items: center;
}
.formten{
  gap: 10px;
}